body{
    font-family: 'Mulish', sans-serif;
    margin: 0;
}
h1{
    font-size: 55px;
}
span{
    color: orangered;
}
.organige{
    text-align: justify;
    padding-right: 150px;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.area-half{
    width: 50%;
    padding-left: 10px;
}
.area-half img{
    width: 75%;
}
.button-shape{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orangered,tomato);
    padding: 10px 40px;
    border-radius: 5px;
}
.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.bg-pic{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.margin-left{
    margin-left: 50px;
}
.image-left{
    margin-left: 30px;
}